@model IEnumerable<MovieXReview.Models.ViewerDto>

@{
    ViewData["Title"] = "List";
}

<div class="container-fluid p-3 text-white">
    <h3 class="text-center">Viewer List</h3>
</div>
<div class="container-fluid">
    <div class="container mx-3 mb-4">

        <div class="d-flex justify-content-center gap-3">
            <div class="btn-group">
                <a href="/MoviePage/List" class="btn btn-outline-light">
                    <i class="fas fa-users me-2"></i>
                    Movies
                </a>
                <a href="/TicketPage/List" class="btn btn-outline-light">
                    <i class="fas fa-ticket-alt me-2"></i>
                    Bookings
                </a>
            </div>
            <a asp-action="New" class="btn btn-primary">
                <i class="fas fa-plus-circle me-2"></i>
                Add New Viewer
            </a>
        </div>
        </div>


        <!-- Search Box -->
        <div class="container mb-4">
            <div class="row">
                <div class="col-12">
                    <form method="get" class="d-flex justify-content-center">
                        <div class="input-group" style="max-width: 500px;">
                            <input type="text" name="searchTerm" class="form-control" placeholder="Search viewers..."
                                   value="@Context.Request.Query["searchTerm"]">
                            <button class="btn btn-primary" type="submit">
                                Search By Viewer Name
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <table class="table text-white mb-5 align-middle fs-6">
            <thead>
                <tr class="text-white text-capitalize">
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Identity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Membership)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        Operation
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Identity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Membership)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td style="width: 15rem;">
                            <a asp-action="Details" asp-route-id="@item.ViewerId" class="btn btn-yellow w-75 mb-sm-1 py-md-1">Details</a>
                            <a asp-action="Edit" asp-route-id="@item.ViewerId" class="btn btn-green w-75 mb-sm-1 py-md-1">Edit</a>
                            <a asp-action="ConfirmDelete" asp-route-id="@item.ViewerId" class="btn btn-red w-75 py-md-1">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
